version: "3"

services:
    node:
        image: node
        user: node
        working_dir: /home/node
        tty: true
        stdin_open: true
        ports:
            - 8080:8080
        env_file:
            - .env
        volumes:
            - .:/home/node
        
    elasticsearch:
        restart: always
        image: docker.elastic.co/elasticsearch/elasticsearch:7.7.0
        environment:
            - "discovery.type=single-node"
        ports:
            - 9200:9200
            - 9300:9300

    kibana:
        restart: always
        depends_on:
            - elasticsearch
        image: docker.elastic.co/kibana/kibana:7.7.0
        ports:
            - 5601:5601
